apiVersion: v1
kind: Service
metadata:
  name: vo-frontend-service
spec:
  selector:
    app: vo-frontend
  type: ClusterIP
  {{- if and .Values.hostIPv4 .Values.hostIPv6 }}
  ipFamilyPolicy: RequireDualStack
  {{- else }}
  ipFamilyPolicy: SingleStack
  {{- end }}
  ipFamilies:
  {{- if .Values.hostIPv4 }}
  - IPv6
  {{- end }}
  {{- if .Values.hostIPv6 }}
  - IPv4
  {{- end }}
  ports:
  - name: web
    port: 80
    targetPort: 80
    protocol: TCP
  externalIPs:
  {{- if .Values.hostIPv4 }}
  - {{ .Values.hostIPv4 }}
  {{- end }}
  {{- if .Values.hostIPv6 }}
  - {{ .Values.hostIPv6 }}
  {{- end }}
