##########################################################
# Basics
###########################################################

CONDOR_HOST = $(FULL_HOSTNAME)
CONDOR_ADMIN = 
UID_DOMAIN = $(FULL_HOSTNAME)
FILESYSTEM_DOMAIN = $(FULL_HOSTNAME)

COLLECTOR_NAME = frontend_service
COLLECTOR_HOST = $(CONDOR_HOST):9618
LOG=/var/log/condor/
DAEMON_LIST   = MASTER, COLLECTOR, NEGOTIATOR, SCHEDD

###########################################################
# Security config
###########################################################
#-- Authentication settings
SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = IDTOKENS
SEC_READ_AUTHENTICATION    = REQUIRED
SEC_CLIENT_AUTHENTICATION  = OPTIONAL
DENY_WRITE         = anonymous@*
DENY_ADMINISTRATOR = anonymous@*
DENY_DAEMON        = anonymous@*
DENY_NEGOTIATOR    = anonymous@*
DENY_CLIENT        = anonymous@*

#--  Privacy settings
SEC_DEFAULT_ENCRYPTION = OPTIONAL
SEC_DEFAULT_INTEGRITY = REQUIRED
SEC_READ_INTEGRITY = OPTIONAL
SEC_CLIENT_INTEGRITY = OPTIONAL
SEC_READ_ENCRYPTION = OPTIONAL
SEC_CLIENT_ENCRYPTION = OPTIONAL

#-- With strong security, do not use IP based controls
ALLOW_READ = *@$(UID_DOMAIN), condor_pool@
ALLOW_WRITE = condor@$(UID_DOMAIN), condor_pool@, frontend@$(UID_DOMAIN), schedd@$(UID_DOMAIN)
ALLOW_DAEMON=condor@$(UID_DOMAIN), condor_pool@, frontend@$(UID_DOMAIN), schedd@$(UID_DOMAIN)
ALLOW_ADMINISTRATOR=condor@$(UID_DOMAIN), condor_pool@
ALLOW_NEGOTIATOR=condor@$(UID_DOMAIN), condor_pool@

###########################################################
# GSI Security config
###########################################################
#-- Grid Certificate directory
GSI_DAEMON_TRUSTED_CA_DIR= /etc/grid-security/certificates

#-- Credentials
GSI_DAEMON_CERT =  /etc/grid-security/condor/tls.crt
GSI_DAEMON_KEY  =  /etc/grid-security/condor/tls.key

#-- Condor mapfile
CERTIFICATE_MAPFILE= /etc/condor/condor-mapfile

# Don't verify hostname in cert
GSI_SKIP_HOST_CHECK=true

###########################################################
# Ganglia/InfluxDB Monitoring
###########################################################
## ddavila 04/08/19:
## Make ganglia daemon to use a customized script to send metrics
## to InfluxDB instead
GANGLIA_GMETRIC = /usr/local/bin/metrics-influxdb-condor-gangliad

## ddavila 04/08/19:
## This is very important otherwise the metrics will be sent
## only for those nodes really monitored by gnalgia
GANGLIA_SEND_DATA_FOR_ALL_HOSTS = True

###########################################################
# Secondary Collectors
###########################################################

COLLECTOR9620 = $(COLLECTOR)
COLLECTOR9620_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector9620Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR9620
COLLECTOR9620_ARGS = -f -sock collector9620
COLLECTOR9620.COLLECTOR_NAME = "COLLECTOR9620"

COLLECTOR9621 = $(COLLECTOR)
COLLECTOR9621_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector9621Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR9621
COLLECTOR9621_ARGS = -f -sock collector9621
COLLECTOR9621.COLLECTOR_NAME = "COLLECTOR9621"

COLLECTOR9622 = $(COLLECTOR)
COLLECTOR9622_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector9622Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR9622
COLLECTOR9622_ARGS = -f -sock collector9622
COLLECTOR9622.COLLECTOR_NAME = "COLLECTOR9622"

COLLECTOR9623 = $(COLLECTOR)
COLLECTOR9623_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector9623Log"
DAEMON_LIST=$(DAEMON_LIST), COLLECTOR9623
COLLECTOR9623_ARGS = -f -sock collector9623
COLLECTOR9623.COLLECTOR_NAME = "COLLECTOR9623"


$(LOCALNAME).CONDOR_VIEW_HOST = 127.0.0.1
COLLECTOR.CONDOR_VIEW_HOST =

NETWORK_HOSTNAME=$ENV(SERVICE_FQDN)
TCP_FORWARDING_HOST=$ENV(SERVICE_FQDN)
###########################################################
# Negotiator tuning
###########################################################
#-- Prefer newer claims as they are more likely to be alive
NEGOTIATOR_POST_JOB_RANK = MY.LastHeardFrom

#-- Increase negotiation frequency, as new glideins do not trigger a reschedule
NEGOTIATOR_INTERVAL = 60
NEGOTIATOR_MAX_TIME_PER_SUBMITTER=60
NEGOTIATOR_MAX_TIME_PER_PIESPIN=20

#-- Prevent preemption
PREEMPTION_REQUIREMENTS = False

#-- negotiator/GCB optimization
NEGOTIATOR_INFORM_STARTD = False

#-- Disable VOMS checking
NEGOTIATOR.USE_VOMS_ATTRIBUTES = False

#-- Causes Negotiator to run faster. PREEMPTION_REQUIREMENTS and all
#-- condor_startd rank expressions must be False for
#-- NEGOTIATOR_CONSIDER_PREEMPTION to be False
NEGOTIATOR_CONSIDER_PREEMPTION = False

NEGOTIATOR_MAX_TIME_PER_SCHEDD=300
NEGOTIATOR_MAX_TIME_PER_CYCLE=600

MAX_NEGOTIATOR_LOG=50000000

###########################################################
# MISC tuning
###########################################################
#-- Condor lock files to synchronize access to  various
#-- log files.  Using the log directory so they are collocated
LOCK = $(LOG)

#-- LOCK will be redefined by secondary daemons, so shared files must refer to log
SHARED_PORT_DAEMON_AD_FILE = $(LOG)/shared_port_ad

#-- Limit session caching to ~12h
SEC_DAEMON_SESSION_DURATION = 50000

# Have condor_master do a PEACEFUL restart when it notices its binary has
MASTER_NEW_BINARY_RESTART=PEACEFUL

#-- allow more file descriptors (only works if Condor is started as root)
COLLECTOR_MAX_FILE_DESCRIPTORS=20000

DEFAULT_PRIO_FACTOR=100

